{% extends 'app/partial.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'app/css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact-content">
    <div class="contact-card">
        <img class="contact-image" src="{% static 'app/img/Math.jpg' %}">
        <h1>XYZ</h1>
        <p class="title">{% trans "Tutor" %}</p>
        <p>XYZ</p>
        <a class="media-link" href="#"><i class="fa fa-twitter"></i></a>
        <a class="media-link" href="#"><i class="fa fa-linkedin"></i></a>
        <a class="media-link" href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <div >
        <form action="{% url 'app:contact' %}" class="contact-form" method="POST">
            <h2>{% trans "Contact Me" %}</h2>
            {{contact_form.as_p}}
            <input type="submit" class="contact-send-button" value={% trans "Send Message" %}>
        </form>
    </div>
</div>
{% endblock %}
