{% extends 'app/partial.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact-content">
    <div class="contact-card">
        <img class="contact-image" src="{% static 'app/img/math.jpg' %}">
        <h1>XYZ</h1>
        <p class="title">Tutor</p>
        <p>XYZ</p>
        <a class="media-link" href="#"><i class="fa fa-twitter"></i></a>
        <a class="media-link" href="#"><i class="fa fa-linkedin"></i></a>
        <a class="media-link" href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <div >
        <form class="contact-form">
            <h2>CONTACT ME</h2>
            <p type="Name:"><input placeholder="Write your name here.."></input></p>
            <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
            <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
            <button>Send Message</button>
        </form>
    </div>
</div>
{% endblock %}