{% extends 'app/partial.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="exercise-detail-card">
    <div class="card-content">
        {% if exercise.image_description.url is not null %}
        <div class="card-image">
            <img class="exercise-detail-card-image" src="{{ exercise.image_description.url }}">
        </div>
        {% endif %}
        <div class="exercise-info">
            <div id="exercise-title">
                <h2> {{exercise.title}} </h2>
            </div>
            <div id="exercise-description">
                <p>{{ exercise.text_description}}</p>
            </div>
            <div class="form-wrapper">
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value={% trans "Submit" %}>
            </form>
            <form class="form" method="POST">
                {% csrf_token %}
                {{ favorites_form.as_p }}
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="favorite-button" value={% blocktrans %} Add to favorites {% endblocktrans%}> 
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
