{% extends 'app/partial.html' %}
{% block content %}
{% load static %}
{% for message in messages %}
    <div id="alert-message" role="alert" style="padding: 10px; border-radius: 5px; background: rgb(176, 176, 242);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
{% for exercise in object_list %}
<a href="{% url 'app:exercise' exercise.module.pk exercise.pk %}">
    <div class="exercise-card">
        <div class="card-content">
            <div class="card-image">
                <img class="exercise-card-image" src="{{exercise.image_description.url}}" width=300 height=300>
            </div>
            <div class="exercise-info">
                <div id="exercise-title">
                    <h2> {{exercise.title|truncatechars:200}} </h2>
                </div>
                <div id="exercise-description">
                    <p>{{ exercise.text_description }}</p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}
<script>
    setTimeout(function () {
        document.getElementById('alert-message').style.display='none';
    }, 2000);
</script>
{% endblock %}
