{% extends 'app/partial.html' %}
{% block content %}
{% load static %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
{% for exercise in object_list %}
<a href="{% url 'app:exercise' exercise.module.pk exercise.pk %}">
    <div class="exercise-card">
        <div class="card-content">
            <div class="card-image">
                <img class="exercise-card-image" src="{% static 'app/img/physics.jpg' %}" width=300 height=300>
            </div>
            <div class="exercise-info">
                <div id="exercise-title">
                    <h2> {{exercise.title|truncatechars:200}} </h2>
                </div>
                <div id="exercise-description">
                    <p>{{ exercise.text_description }}</p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}
