.subject-card {
    display: inline-block;
    margin-left: 12vw;
    margin-top: 30px;
    text-align: center;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out;
}

.subject-card-image {
    max-width: 350px;
    max-height: 350px;
}

.module-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    margin-left: 10rem;
    width: 80%;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out;
}

.module-card:hover,
.module-card:active,
.module-card:focus {
    background-color: rgb(88, 243, 145)
}

.exercise-card .card-content {
    display: flex;
    margin: 2rem 2rem 0 2rem;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
}

.exercise-card-image {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.07);
}

.exercise-detail-card-image {
    position: relative;
    margin: 1rem 1rem 1rem 5rem;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.07);
}

.exercise-info {
    position: relative;
    left: 1rem;
    line-height: 30px;
    border-right: 20px;
    padding-right: 20px;
}

#exercise-title {
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    width: 95%;
}

#exercise-description p {
    width: 100%;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.exercise-detail-card {
    position: relative;
    background-color: #fff;
    margin: 1rem 1rem 1rem 1rem;
    float: left;
    border-radius: 20px;
}

.subject-card-image {
    border-radius: 20px;
}

.form-wrapper input {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
}

.form-wrapper input:hover {
    background-color: rgb(159, 240, 113);
}

.form-wrapper textarea {
    position: relative;
    resize: none;
    width: 95%;
    line-height: 20px;
    border-radius: 10px;
    box-shadow: 0px -5px 60px 10px rgba(0, 0, 0, 0.07);
}