<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load i18n %}
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'accounts/css/settings.css' %}">
    </head>
    <body>
        <div class="form-wrapper">
            <div class="form-content">
                <form enctype="multipart/form-data" class="form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if not request.user.is_tutor %}
                        {{ student_profile_form.as_p }}
                    {% else %}
                        {{ tutor_profile_form.as_p }}
                    {% endif %}
                    <input id="btn" type="submit" value={% trans "Change" %}>
                </form>
            </div>
        </div>
    </body>
</html>
