<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load i18n %}
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="{% static 'accounts/js/profile.js' %}"></script>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo-content">
                <div class="logo">
                    <div class="logo-name"><strong>NF Korepetycje</strong></div>
                </div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'app:index' %}">
                        <i class='bx bx-home'></i>
                        <span class="links-name">{% trans "First Name" %}</span>
                    </a>
                    <span class="tooltip">{% trans "First Name" %}</span>
                </li>
                <li>
                    <a href="{% url 'accounts:settings' request.user.pk %}">
                        <i class='bx bx-user'></i>
                        <span class="links-name">{% trans "User" %}</span>
                    </a>
                    <span class="tooltip">{% trans "User" %}</span>
                </li>
                <li>
                    <a href="{% url 'app:subjects' %}">
                        <i class='bx bxs-briefcase' ></i>
                        <span class="links-name">{% trans "Exercise" %}</span>
                    </a>
                    <span class="tooltip">{% trans "Exercise" %}</span>
                </li>
                <li>
                    <a href="{% url 'accounts:messages' request.user.pk %}">
                        <i class='bx bx-message-dots'></i>
                        <span class="links-name">{% trans "Messages" %}</span>
                    </a>
                    <span class="tooltip">{% trans "Messages" %}</span>
                </li>
                <li>
                    <a href="{% url 'chat:student_chat_room' request.user.pk %}">
                        <i class='bx bxs-door-open'></i>
                        <span class="links-name">Chat Rooms</span>
                    </a>
                    <span class="tooltip">Rooms</span>
                </li>
                <li>
                    <a href="{% url 'accounts:student_answers' request.user.pk %}">
                        <i class='bx bx-message-rounded-edit'></i>
                        <span class="links-name">Answers</span>
                    </a>
                    <span class="tooltip">Answers</span>
                </li>
                <li>
                    <a href="{% url 'app:favorites' request.user.pk %}">
                        <i class='bx bx-heart' ></i>
                        <span class="links-name">{% trans "Favorite" %}</span>
                    </a>
                    <span class="tooltip">{% trans "Favorite" %}</span>
                </li>
                <li>
                    <a href="{% url 'order:product_landing' %}">
                        <i class='bx bxs-shopping-bag-alt'></i>
                        <span class="links-name">{% trans "Order" %}</span>
                    </a>
                    <span class="tooltip">{% trans "Order" %}</span>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}">
                        <i class='bx bx-log-out' ></i>
                        <span class="links-name">{% trans "Log Out" %}</span>
                    </a>
                    <span class="tooltip">{% trans "Log Out" %}</span>
                </li>
            </ul>
        </div>
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="student-profile-settings">
            <div class="profile-content">
                <div class="image">
                    {% if student_profile.image.url is not null %}
                        <img class="student-profile-image" src="{{ student_profile.image.url }}">
                    {% else %}
                        <img class="student-profile-image" src="https://mdbootstrap.com/img/new/avatars/2.jpg"/>
                    {% endif %}
                </div>
                <div class="name">
                    <p>{% trans "First Name" %}</p>
                    <div id="first-name">
                        {{student_profile.user.first_name}}
                    </div>
                </div>
                <div class="surname">
                    <p>{% trans "Last Name" %}</p>
                    <div id="last-name">
                     {{student_profile.user.last_name}}
                    </div>
                </div>
                <div class="email">
                    <p>{% trans "Email" %}</p>
                    <div id="email">
                        {{student_profile.user.email}}
                    </div>
                </div>
                <div class="number">
                    <p>{% trans "Phone Number" %}</p>
                    <div id="phone-number">
                        {% if student_profile.phone_number %}
                            {{student_profile.phone_number}}
                        {% else %}
                         {% trans "Unknown" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="activities-plot">
        </div>
        <div class="activities-list">
            <h3>{% trans "Your activities" %}:</h3>    
            {% if activities %}
                <table>
                    <thead>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Date" %}</th>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                        <tr class="row-content">
                            <td>{{activity.description|truncatechars:100}}</td>
                            <td>{{activity.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <p>{% trans "No activities found" %}</p>
            {% endif %}
        </div>
    </body>
</html>
