.message-item {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.message-detail-wrapper {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    left: 10%;
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

#message-timestamp {
    float: right;
}

#message-author {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

#message-title {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

#message-content p {
    font-family: 20px;
    font-family: "Poppins", sans-serif;
}