* {
    margin: 0;
    padding: 10 10;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #c8d8e4;
    box-sizing: border-box;
}

.form-wrapper {
    position: relative;
    margin-top: 2rem;
    left: 25%;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    background-color: #eee;
}

.form-wrapper #inputImage {
    background-color: #fff;
    border-radius: 10px;
    background-color:rgb(185, 238, 178);
    width: 40%;
}

input{
    display: block;
    width: 100%;
    overflow: hidden;
}

#inputImage {
    text-align: center;
}

input[type=submit] {
    position: relative;
    top: 10px;
    left: 0;
    padding: 5px 5px;
    border-radius: 6px;
    background: #fff;
    transition: all 0.3s;
}

#btn:hover {
    background: rgb(185, 238, 178);
}