* {
    margin: 0;
    padding: 10 10;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.form-wrapper {
    position: fixed;
    display: flex;
    top: 20%;
    left: 40%;
    line-height: 30px;
    padding: 40px 40px;
    border-radius: 12px;
    justify-content: center;
    background-color: #fff;
}

input {
    -webkit-box-shadow: 8px 4px 47px 0px rgba(150, 155, 191, 1);
    -moz-box-shadow: 8px 4px 47px 0px rgba(150, 155, 191, 1);
    box-shadow: 8px 4px 47px 0px rgba(150, 155, 191, 1);
}

input,
label {
    display: block;
    margin-top: 3px;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
    border-color: rgb(253, 253, 253);
}

#inputImage {
    text-align: center;
}

input[type=submit] {
    position: relative;
    top: 10px;
    left: 0;
    padding: 5px 5px;
    border-radius: 6px;
    background: #fff;
    transition: all 0.3s;
}

#btn:hover {
    background: rgb(185, 238, 178);
}