<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charest="utf-8">
    <link rel="stylesheet" href="{% static 'chat/css/chat_room.css' %}">
</head>
    <body>
        <div class="room-name">
            <h2>{{ view.kwargs.room_name }}</h2>
        </div>
        <div class="container">
            <div class="chat-content">
                <textarea id="log" cols="120" rows="20" readonly></textarea><br>
                <h5 id="message-info">Enter your message here</h5>
                <input id="message-text" type="text" size="100" placeholder="Your message..."><br><br>
                <label for="submit">Send</label>
                <input id="submit" type="button" value="Send">
            </div>
        </div>        
    </body>
    <script>
        const roomName = "{{ view.kwargs.room_name|safe|escape }}"
        const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName)
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data)
            document.querySelector("#log").append((data.user + ":" + data.message + "\n"));
        };
        chatSocket.onclose = function(e) {
            console.error("Closing chat");
        };
        document.querySelector("#submit").onclick = function(e) {
            const messageDom = document.querySelector("#message-text");
            const message = messageDom.value;
            chatSocket.send(JSON.stringify(
                {
                    "user": "{{ request.user|safe|escape }}",
                    "message": message
                }
            ));
            messageDom.value = '';
        }
        document.querySelector("input").onkeypress = function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.querySelector("#submit").click();
            }
        }
    </script>
</html>
